DATABASE_URL="postgresql://postgres:postgres@localhost:5432/partnerportal"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
AUTH_COOKIE_NAME="mvp_session_user"
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=""
APP_BASE_URL="http://localhost:3000"
SENDGRID_API_KEY=""
EMAIL_FROM="portal@wohn-kapital.de"
EMAIL_FROM_NAME="WohnKapital"
