DATABASE_URL="postgresql://postgres:postgres@localhost:5432/partnerportal"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
DEFAULT_LOCALE="de-DE"
NEXT_PUBLIC_DEFAULT_LOCALE="de-DE"
AUTH_COOKIE_NAME="mvp_session_user"
SESSION_SECRET="<replace-with-at-least-32-random-characters>"
SESSION_COOKIE_SECURE="false"
WK_ENABLE_RUNTIME_STORE="false"
WK_ENABLE_MOCK_STORAGE="false"
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=""
APP_BASE_URL="http://localhost:3000"
SENDGRID_API_KEY=""
EMAIL_FROM="portal@wohn-kapital.de"
EMAIL_FROM_NAME="WohnKapital"
